@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
    background-color: #f9f9f9;
    font-family: 'Inter', serif;
    font-weight:700;
    color: #222;
}

/* COLOUR PALETTE */

.dark-grey-bg {
    background-color: #222;
}

.mid-grey-bg {
    background-color: #c9c9c9;
}

.dark-grey-text {
    color: #222;
}

.light-text {
    color:#f9f9f9;
}

/* GENERAL STYLES */

.uppercase {
    text-transform: uppercase;
}

.capitalise {
    text-transform: capitalize;
}

/* FUNCTIONAL STYLES */

.hidden {
    display: none;
}

/* LOGO & HEADER */

#logo {
    margin-top: 8rem;
    padding: 0.5rem;
}

h1 {
    margin-top: 0;
    margin-bottom:0;
    font-size: 1.5rem;
    text-align: center;
}

/* MODAL */

#rulesModalBtn {
    margin:0;
    padding:0;
}

#rulesModalBtn p {
    font-weight: 700;
}

.modal-body,
.modal-body p {
    margin-top: 1.5rem;
}

.modal-body p {
    font-size: 2rem;
}

/* GAME AREA */

.para-choose-weapon {
    margin-bottom:0.2rem;
}

.game-btn {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight:700;
    margin: 0.4rem;
    height: 10rem;
    border-radius: 1.5rem;
}

/* COUNTDOWN AREA */

#users-choice,
#ai-choosing {
    font-size: 1.2rem;
}

.countdown-circle {
    background-color: #c9c9c9;
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    border-radius: 50%;
    font-weight:900;
    font-size: 4rem;
}

/* TURN RESULT AREA */

#continueButton {
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem 0.5rem;
}

#newGameButton {
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem 0.5rem;
}

/* GIFS */

.result-gif {
    max-height: 250px;
    max-width: 250px;
}

/* SCORE AREA */

.turn-result-box,
.scores-box {
    max-width: 60%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
}

.score-title {
    margin: 1rem 0 0.5rem;
}

.scores {
    margin: 0.5rem 0 1rem;
}

/* FOOTER */

footer p {
    margin: 0;
    font-size: 1.1rem;
}

@media screen and (min-width:320px) and (max-width:575px) {
    #logo {
        margin-top: 0.8rem;
        padding: 0.7rem 0.7rem 0.2rem;
    }
    h1 {
        margin-top:0.5rem;
        font-size:1.12rem;
    }
    #rulesModalBtn p,
    .modal-body p {
        font-size:1.2rem;
    }
    .game-btn {
        height: 3rem;
    }
    .scores-box,
    .turn-result-box {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 90%;
    border-radius: 1.5rem;
    }
}

@media screen and (min-width:992px) {
    #logo {
        margin-top: 4rem;
    }
}