@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700;900&display=swap');

body {
    background-color: #f9f9f9;
    font-family: 'Inter', serif;
    font-weight:700;
    color: #222
}

/* COLOUR PALETTE */

.dark-grey-bg {
    background-color: #222;
}

.mid-grey-bg {
    background-color: #c9c9c9;
}

/* LOGO & HEADER */

#logo {
}

h1 {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

/* GAME AREA */

button {
    text-transform: uppercase;
    margin: 0.4rem;
    height: 5rem;
}

/* FOOTER */

h3 {
    font-size: .9rem;
}